/**
    Title: site.css
    Author: Jordan Nishimura-Anderson
    Date: 3/19/2023
    Description: Styling for the index.html file.
*/

/** The container styling. */
#container {
  padding: 10px;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
}
