/**
    Title: nishimura-anderson-payroll.css
    Author: Jordan Nishimura-Anderson
    Date: 3/25/2023
    Description: This provides styling for the user interface of the payroll program.
*/

/** The unordered list styling with a dotted red border. */
ul {
  border: 1px dotted red;
}
