/**
    Title: nishimura-anderson-dino-app.css
    Author: Jordan Nishimura-Anderson
    Date: 5/9/2023
    Description: This provides styling for the user interface of the dino app.
*/

/** The container styling. */
#container {
  padding: 10px;
}

/** The form container styling. */
#form-example {
  width: 600px;
  margin: 3% auto 0;
}

/** The form results container styling. */
#form-results-example {
  width: 600px;
  margin: 3% auto 0;
}

/** The form results styling. */
#form-results {
  text-align: center;
  font-size: 28px;
}

/** The form result table header font-weight styling. */
h3 {
  font-weight: lighter;
}
