/**
    Title: nishimura-anderson-temp-conversion.css
    Author: Jordan Nishimura-Anderson
    Date: 3/28/2023
    Description: This provides styling for the user interface of the temp conversion app.
*/

/** The container styling. */
#container {
  padding: 10px;
}

/** The form container styling. */
#form-example {
  width: 600px;
  margin: 3% auto 0;
}

/** The form results container styling. */
#form-results-example {
  width: 600px;
  margin: 3% auto 0;
}

/** The form results output styling. */
#form-results {
  text-align: center;
  font-size: 28px;
}
