/**
    Title: nishimura-anderson-favorites.css
    Author: Jordan Nishimura-Anderson
    Date: 3/28/2023
    Description: This provides styling for the user interface of the favorites app.
    All styling is
*/

/** The container styling. */
#container {
  padding: 10px;
}
